body .formContainer {
	font-size: 10px;
	max-width: 375px;
	max-height: 100vh;
	margin-top: 50px;
	color: #fff;
}

body .customCard {
	color: #ffffff;
}

.modalAertMessage {
	margin-top: 10px;
	color: #ffa500;
	text-decoration: none;
	text-align: center;
}
