.myNav {
	border-bottom: 0.5px solid #42488a;
}

.customImage {
	object-fit: "cover";
	border-radius: "50%";
}

.customOrder {
	display: flex;
	flex-direction: row-reverse;
}

p {
	font-size: 13px;
	color: #fff;
}
